<br><br><br><br><br><br><br><br><br><br><br><br>

<center>
	<%= form_tag texts_path do %>
	  <%= text_field :input, params[:input], class: 'sms', placeholder: 'Send me a message' %>
	  <button class="btn" type="submit">
	  	<%= image_tag "send.svg", class: "plane" %>
      </button>
	<% end %>
</center>